@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, rgb(233, 165, 88), rgb(235, 216, 176))
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(161, 142, 101);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: rgb(163, 69, 6);
    text-shadow: 1px 1px 1px rgb(53, 52, 52);
    text-align: center;
}

h2{
    color: rgb(167, 93, 44);
}

p{
    text-align: justify;
}